* {
  box-sizing: border-box;
}

/* This is for the Contact Me page. */
/* Adding percentages will make the website responsive to different screen sizes. */
:root {
  --dark: #13293d;
  --light: #fff;
  --blue: #2589bd;
  --lightgray: lightgrey;
  --border-radius: 40px;
}

body {
  background-color: var(--light);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
}

header {
  background-color: var(--lightgray);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

header ul {
  display: flex;
  list-style-type: none;
}

header ul li {
  margin: 0 10px;
}

a:link {
  text-decoration: none;
}

main {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  padding: 5%;
}
main h2 {
  padding: 1%;
  border-style: solid;
  border-color: var(--lightgray);
  border-width: 3px;
  width: 8em;
  height: 3em;
  align-items: center;
}

main p {
  align-items: center;
  padding: 3%;
  width: 40%;
}

.my-form {
  padding: 20px;
}

.my-form .form-group {
  padding-bottom: 15px;
  width: 175%;
}

.my-form label {
  display: block;
}

.my-form input[type="text"],
.my-form textarea {
  padding: 8px;
  width: 100%;
}

input[type=submit] {
  cursor: pointer;
}

.social-media {
  clear: both;
  text-align: center;
  padding: 10px;
  background: var(--blue);
  color: #fff;
  margin: 10px 0 0 0;
}

.footer-link {
    margin: 0 10px;  
}

footer {
  clear: both;
  bottom: 0;
  padding: 20px;
  text-align: center;
  background: var(--blue);
  color: #fff;
}
